body {	
	background: -webkit-linear-gradient(90deg, rgb(235, 236, 203), rgb(216, 191, 144));
	background: linear-gradient(90deg, rgb(235, 236, 203), rgb(216, 191, 144));
}

.owl-carousel {
	padding: 30px;
	margin-top: 50px;
}

.footer {
	background-color: #343a40;
	padding: 3%;
}